html, body {
    margin: 0px;
    padding: 0px;
}

#board {
    background-color: pink;
    height: 100vh;
}

.player {
    background-color: crimson;
    position: absolute;
}

.obstacle {
    background-color: darkblue;
    position: absolute;
}

#game-over {
    display: block;
    margin: 0 auto;
    padding: 40vh 40vw;
}

