html, body {
    margin: 0px;
    padding: 0px;
}

#board {
    background-color: pink;
    height: 100vh;
    display: none;
}

#inbetween-screen {
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    background-color: crimson;
    position: absolute;
}

.obstacle {
    background-color: darkblue;
    position: absolute;
}


